@model IEnumerable<ENTIDAD.Proyecto>

@{
    ViewBag.Title = "Listado de Proyectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Proyectos</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("Crear","Proyecto")"><i class="glyphicon glyphicon-plus"></i> Crear Nuevo</a>
</p>

<table class="table" id="tableStyle">
    <thead>
        <tr>
            <th>
                Nombre Proyecto
            </th>
            <th>
                Fecha Inicio
            </th>
            <th>
                Fecha Fin
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.NombreProyecto
                </td>
                <td>
                    @item.FechaInicio.ToShortDateString()
                </td>
                <td>
                    @item.FechaFin.ToShortDateString()
                </td>
                <td>
                    <a title="Editar" href="@Url.Action("Editar", "Proyecto", new { id=item.ProyectoId })" class="btn btn-primary btn-xs">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a title="Detalles" href="@Url.Action("GetProyectos", "Proyecto", new { id=item.ProyectoId })" class="btn btn-info btn-xs">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a title="Eliminar" href="@Url.Action("Eliminar", "Proyecto", new { id=item.ProyectoId })" class="btn btn-danger btn-xs">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>



</table>
@section Scripts {
    <script>
        $('#tableStyle').DataTable({
            "pageLength": 5,
            lengthMenu: [5, 10, 20, 50, 100, 200, 500],
        });
    </script>
}
